<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{% block title %}Forge Cortex{% endblock %}</title>

		{% load staticfiles %}

		{% block styles_nc %}
		{% if DEBUG %}
		<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/bootstrap/dist/css/bootstrap-theme.css' %}" />
		<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/bootstrap-material-design/dist/css/material-wfont.css' %}"/>
		{% else %}
		<link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
		<!-- <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" /> -->
		<link rel="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.min.css"/>
		{% endif %}
		{% endblock %}

		{% load compress %}

		{% compress css %}
			{% block styles %}
			{% endblock %}
		{% endcompress %}

		<!--[if lt IE 9]>
		<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif] -->
	</head>
	<body>
		{% block body %}{% endblock %}

		{% block scripts_nc %}
		{% if DEBUG %}
		<script type="text/javascript" media="all" src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
		<script type="text/javascript" media="all" src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
		<script type="text/javascript" media="all" src="{% static 'lib/bootstrap-material-design/dist/js/material.js' %}"></script>
		<script type="text/javascript" media="all" src="{% static 'lib/bootstrap-material-design/dist/js/ripples.js' %}"></script>
		{% else %}
		<script type="text/javascript" media="all" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" media="all" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" media="all" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.js"></script>
		<script type="text/javascript" media="all" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/ripples.min.js"></script>
		{% endif %}
		{% endblock %}

		{% compress js %}
			{% block scripts %}
			{% endblock %}
			<script type="text/javascript">
				$.material.init()
				
			</script>
		{% endcompress %}
	</body>
</html>

