{% extends 'base.html' %}

{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<ul class="nav navbar-nav">
				<li>
					<a class="navbar-brand" href="{% url 'root' %}">Cortex</a>
				</li>
				{% block nav_links %}{% endblock %}
			</ul>
			<ul class="nav navbar-nav">
				{% if user.is_authenticated %}
				TODO
				{% else %}
				<li>
					<a href="{% url 'login' %}">Login</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<main>
		{% block page %}
		{% endblock %}
	</main>
	<footer>
		<ul>
			<li>
				<a href="https://github.com/sgthotshot/forge-cortex">Source</a>
			</li>
			<li>
				<a href="#about">About</a><!-- TODO -->
			</li>
		</ul>
	</footer>
{% endblock %}

