{% extends 'base.html' %}

{% load staticfiles %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
{% endblock %}

{% block body %}
	<header>
		<nav>
			<ul>
				{% block nav_links %}
				<li>
					<a href="#todo">Cortex</a>
				</li>
				{% endblock %}
			</ul>
			<div class="user-container">
				{% if user.is_authenticated %}
				TODO
				{% else %}
				<a href="{% url 'login' %}">Login</a><!-- TODO -->
				{% endif %}
			</div>
		</nav>
	</header>
	<main>
		{% block page %}
		{% endblock %}
	</main>
	<footer>
		<ul>
			<li>
				<a href="https://github.com/sgthotshot/forge-cortex">Source</a>
			</li>
			<li>
				<a href="#about">About</a><!-- TODO -->
			</li>
		</ul>
	</footer>
{% endblock %}

