<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{% block title %}Forge Cortex{% endblock %}</title>

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
		{% block styles %}
		{% endblock %}

		<!--[if lt IE 9]>
		<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif] -->
	</head>
	<body>
		<header>
			<nav>
				<ul>
					{% block nav_links %}
					<li>
						<a href="#todo">Cortex</a>
					</li>
					{% endblock %}
				</ul>
				<div class="user-container">
					{% if user.is_authenticated %}
					TODO
					{% else %}
					<a href="#login">Login</a><!-- TODO -->
					{% endif %}
				</div>
			</nav>
		</header>
		<main>
			{% block page %}
			{% endblock %}
		</main>
		<footer>
			<ul>
				<li>
					<a href="https://github.com/sgthotshot/forge-cortex">Source</a>
				</li>
				<li>
					<a href="#about">About</a><!-- TODO -->
				</li>
			</ul>
		</footer>

		{% block scripts %}{% endblock %}
	</body>
</html>

